html, body, header, nav, h1, a, ul, li, strong, main,
button, i, section, img, div, h2, p, form, fieldset,
label, input, textarea, span, article, footer, time, small {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  color: inherit;
  background: transparent;
}

ul, li {
  list-style: none;
}

html {
  height: 100%;
  background: rgb(33,33,33);
}

body {
  font-size: 1em;
}

.button, span {
  cursor: pointer;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(222,222,222);
}

.page-title {
  font-size: 3.750em; /* font-size: 60px; */
  margin: 1em 0 0.5em;
  font-family: 'Instrument Serif', serif;
}

.page-text {
  font-size: 1.25em; /* font-size: 20px; */
  margin-bottom: 4em;
  font-family: 'Instrument Serif', serif;
}

.card {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 27.5em;
  height: 14.375em;
  padding: 2.5em;
  font-family: 'Instrument Serif', serif;
  color: rgb(33,33,33);
  background: rgb(245,245,245);
  border: solid 1px black;
  border-radius: 0.5em;
  box-shadow: 0 0.188em 0.5em rgba(0, 0, 0, 0.3);
}

#strategy-card {
  justify-content: center;
}

.app-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  font-size: 2.5em; /* font-size: 40px; */
  margin: 3.75em 2.5em 0 2.5em;
}

.attribute {
  font-size: 1em; /* font-size: 16px; */
  display: flex;
  justify-content: center;
  margin: 1.875em;
  font-family: 'Instrument Serif', serif;
}

#modal-background {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.95);
  z-index: 10;
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#close-button {
  font-size: 1.875em;/* font-size: 30px; */
  position: relative;
  top: -0.833em;
  font-weight: 300;
  cursor: pointer;
}

.close-button-flex {
  align-self: flex-start;
}

.card-title {
  font-size: 1.75em; /* font-size: 28px; */
  font-family: 'Instrument Serif', serif;
}
